@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Names</th>
        </tr>
        @foreach (var item in ViewBag.Names)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    </table>
    <p></p>
</div>
